@import "../../css/branding.css";

.animate {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button {
	margin: 0px 0.4rem 0.4rem 0px;
	padding: 0.4rem 1.6rem; /**/
	border-radius: 0.4rem;

	font-family: var(--font-secondary);
	font-size: 1rem;
	color: white;
	float: left;
	text-decoration: none;
	cursor: pointer;
}

.red {
	background-color: var(--brand-danger);
	border-bottom: 0.2rem solid #BD3E31;
}

.green {
	background-color: var(--brand-primary);
	border-bottom: 0.2rem solid #329B28;
}

.blue {
	background-color: var(--brand-tertiary);
	border-bottom: 0.2rem solid #51A8B5; /*60C6D6 */
}

.action-button:hover {
	text-decoration: none;
	color: white;
}

@media (min-width: 768px) {
	.green:hover {
		color: black;
	}

	.red:hover {
		color: black;
	}

	.blue:hover {
		color: black;
	}
}

.action-button:active {
	-webkit-transform: translate(0px, 0.2rem);
	transform: translate(0px, 0.2rem);
	border-bottom: 0.1rem solid;
}
