@import "../../css/branding.css";

.button {
	float: left;
	font-size: 1rem;
	margin: 0px 0.4rem 0.4rem 0px;
}

.questions-list {
	font-family: var(--font-questions);
}

.questions-list .header {
	font-size: 2.6rem;
}

.questions-list h1, h2, h3, h4, h5, h6 {
	margin-top: 0.6rem;
	margin-bottom: 1rem;
}

.question {
	padding-bottom: 8px;
	border-bottom: 1px solid whitesmoke;
}

.controversy {
	color: var(--brand-danger);
	font-size: 1.6rem;
	text-transform: uppercase;
}

.loading {
  margin-top: 100px;
  font-size: 7rem;
  text-align: center;
}

.referee-decision {
	color: var(--brand-tertiary);
	font-size: 1.2rem;
	text-transform: uppercase;
}

.decision {
	text-transform: uppercase;
	color: var(--brand-danger);
}

.results-indicator {
	margin-top: 10px;
	padding-right: 20px;
}

.question-group .time, .group-title {
	font-size: 	1.8rem;
}

.question-group .group-title {
	color: var(--brand-primary);
	text-transform: uppercase;
}

.question {
	margin-top: 24px;
}

.question h1 {
	font-size: 2.2rem;
}

.question h2 {
	font-size: 2rem;
}

.question h3 {
	font-size: 1.8rem;
}

.question-buttons {
	margin-top: 10px;
}

.spacer {
	margin-top: 10px;
}

.link {
	font-size: 1.2rem;
}

.closed {
	font-size: 1.4rem;
	color: var(--brand-danger);
}

.link:hover {
	text-decoration: none;
}

@media (max-width: 768px){
	.question {
		margin-top: 12px;
	}

	.question h1, h2, h3 {
		margin: 6px 0px;
	}
}
