@import "../../css/branding.css";

.splash {
   display: flex;
   flex-flow: column;
   width: 100%;
   height: 100%;
   background-color: var(--brand-primary);
   text-align: center;
   color: var(--brand-secondary);
}

.brand {
   font-family: var(--font-primary);
   font-size: 6em;
   margin-top: 6vh;
   flex: 0 1 auto;
}

.back {
   text-align: left;
   color: white;
   margin-bottom: 16px;
}
