@import "../../css/branding.css";

.teams {
  font-family: var(--font-secondary-bold);
  font-size: 1.8rem;
  text-transform: uppercase;
  color: black;
}

.spacer {
  margin-bottom: 36px;
}

.fixture-list-header {
  font-family: var(--font-primary);
  margin-top: 20px;
}

.goals {
  font-family: var(--font-secondary-bold);
  font-size: 1.6rem;
  color: black;
  float: right;
}

.link {
  color: inherit;
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
}

.match-list {
  list-style: none;
  padding-left: 0px;
}

.match-list li {
  margin-bottom: 18px;
  padding: 5px;
  border-radius: 1px;
}

.kick-off {
  line-height: normal;
  font-family: var(--font-secondary);
  font-size: 1rem;
}

.full-time {
  background: repeating-linear-gradient(
    45deg,
    white,
    white 10px,
    whitesmoke 10px,
    whitesmoke 20px
  );
}

.loading {
  font-size: 14rem;
  text-align: center;
}

@media (max-width: 768px){
   .match-list li {
      margin-bottom: 10px;
   }
}
