@import "../../css/branding.css";

.teams {
  font-family: var(--font-secondary-bold);
  font-size: 1.8rem;
  text-transform: uppercase;
  color: black;
}

.fixture-list {
   margin-top: 20px;
   font-family: var(--font-secondary);
}

.fixture-list .header {
   font-size: 3rem;
   margin-top: 30px;
   margin-bottom: 20px;
}

.goals {
  font-family: var(--font-secondary-bold);
  font-size: 1.6rem;
  color: black;
  float: right;
}

.fixture {
   border-bottom: 1px solid whitesmoke;
   padding-bottom: 6px;
}

.fixture .away {
   margin-bottom: 6px;
}

.link {
   font-family: var(--font-secondary);
   font-size: 1.4rem;
}

.link:hover {
  text-decoration: none;
}

.match-list {
  list-style: none;
  padding-left: 0px;
}

.match-list li {
  margin-bottom: 18px;
  padding: 5px;
  border-radius: 1px;
}

.kick-off {
  line-height: normal;
  font-family: var(--font-secondary);
  font-size: 1rem;
}

.full-time {
  background: repeating-linear-gradient(
    45deg,
    white,
    white 10px,
    whitesmoke 10px,
    whitesmoke 20px
  );
  padding: 2px 2px;
}

.no-fixtures {
   font-family: var(--font-secondary);
}

.loading {
  font-size: 14rem;
  text-align: center;
}

@media (max-width: 768px){
   .match-list li {
      margin-bottom: 10px;
   }
}
