@import "../../css/branding.css";

.container {
	font-family: var(--font-questions);
}

.centred {
   text-align: center;
}

.heading {
   .margin-top: 20px;
   font-size: 2.6rem;
}

.score {
   font-size: 8rem;
   color: var(--brand-no);
}

.answered .heading {
   font-size: 2rem;
}

.answered .value {
   color: var(--brand-no);
   font-size: 2rem;
}

.ranking .subheading {
   font-size: 2rem;
   text-align: center;
   margin-bottom: 10px;
}

.ranking .heading {
   color: var(--brand-no);
   font-size: 4rem;
   text-align: center;
   margin-bottom: 30px;
}
