@import "../../css/branding.css";

.overall-ranking {
	font-family: var(--font-questions);
}

.centred {
   text-align: center;
}

.overall-ranking .heading {
   .margin-top: 20px;
   font-size: 2.6rem;
}

.overall-ranking .rank {
   font-size: 8rem;
   color: var(--brand-no);
}

.answered {
   font-family: var(--font-questions);
   border-bottom: 1px solid whitesmoke;
   padding-bottom: 10px;
}

.answered .heading {
   font-size: 2rem;
}

.answered .value {
   color: var(--brand-no);
   font-size: 2rem;
}

.ranking .subheading {
   font-size: 2rem;
   text-align: center;
   margin-bottom: 10px;
}

.ranking .heading {
   color: var(--brand-no);
   font-size: 4rem;
   text-align: center;
   margin-bottom: 30px;
}

.recent-matches {
   font-family: var(--font-secondary);
}

.recent-matches .heading {
   font-size: 3rem;
}

.recent-match {
   border-bottom: 1px solid whitesmoke;
   padding-bottom: 10px;
   margin-top: 18px;
}

.recent-match h2 {
   font-size: 2.2rem;
}

.recent-match h3 {
   font-size: 1.8rem;
}

.recent-match p {
   font-size: 1.4rem;
}

.top-answer {
   font-family: var(--font-secondary);
   margin-bottom: 12px;
}

.top-answer .heading {
   font-size: 2.2rem;
}

.top-answer h2 {
	font-size: 2rem;
}

.top-answer h3,h4 {
	font-size: 1.6rem;
}

.score {
   text-align: center;
   padding: 30% 0;
   color: white;
   border-radius: 4px;
   margin: 6px 0px;
}

.link {
   font-size: 1.4rem;
}

.green {
   background-color: var(--brand-primary);
}

.red {
   background-color: var(--brand-danger);
}
