@import "../../styles/branding";


.teams {
  font-family: var(--font-secondary);
  font-size: 1.6em;
  text-transform: uppercase;
  color: black;
}

.goals {
  font-family: var(--font-secondary);
  font-size: 1.5em;
  color: black;
  float: right;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.match-list {
  list-style: none;
}

.match-list < li {
  background-color: white;
}

.kick-off {
  line-height: normal;
  font-size: 1.2em;
}

.full-time {
  background: repeating-linear-gradient(
    45deg,
    white,
    white 10px,
    whitesmoke 10px,
    whitesmoke 20px
  );
}
