/**
  Global Branding Variables
*/

:root {
  --font-primary:          'Dosis', sans-serif;
  --font-secondary:        'Raleway', sans-serif;
  --font-secondary-bold:   'Montserrat', sans-serif;
  --font-questions:        'Work Sans', sans-serif;

  --brand-primary:    rgba(55,171,46,1);
  --brand-secondary:  white;
  --brand-danger:     #ed5c5c;
  --brand-tertiary:   #66d3e4;
}
