@import "../../../css/branding.css";

.question {
	font-family: var(--font-questions);
}

.question h2 {
	margin: 5px 0px;
}

.question-buttons {
	margin-top: 10px;
}

.animate {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.spacer {
	margin-top: 15px;
}

.action-button {
	margin: 0px 0.4em 0.4em 0px;
	padding: 0.4em 1.6em; /**/
	border-radius: 0.4em;

	font-family: var(--font-secondary);
	font-size: 1em;
	color: white;
	float: left;
	text-decoration: none;
	cursor: pointer;
}

.red {
	background-color: var(--brand-danger);
	border-bottom: 0.2em solid #BD3E31;
}

.green {
	background-color: var(--brand-primary);
	border-bottom: 0.2em solid #329B28;
}

.blue {
	background-color: var(--brand-tertiary);
	border-bottom: 0.2em solid #51A8B5; /*60C6D6 */
}

.action-button:hover {
	text-decoration: none;
	color: white;
}

@media (min-width: 768px) {
	.green:hover {
		color: black;
	}

	.red:hover {
		color: black;
	}

	.blue:hover {
		color: black;
	}
}

.action-button:active {
	-webkit-transform: translate(0px, 0.2em);
	transform: translate(0px, 0.2em);
	border-bottom: 0.1em solid;
}
